<ion-header>
  <ion-toolbar>
    <ion-title>New book</ion-title>
    <ion-button slot="end" class="saveBook" id="btn" (click)="saveNewPlace(ISBN, Book, Author, Publisher, Year)">save book</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="content__items">
    <ion-item>
      <ion-label>ISBN</ion-label>
      <ion-input class="bookInfo" #ISBN></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Book</ion-label>
      <ion-input class="bookInfo" #Book></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Author</ion-label>
      <ion-input class="bookInfo" #Author></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Publisher</ion-label>
      <ion-input class="bookInfo" #Publisher></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Year</ion-label>
      <ion-input class="bookInfo" #Year></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
